article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
   display: block;
}

:root{
   --azure:        rgb(151, 60, 60);
}

* {
   box-sizing: border-box;
}

ion-icon {
   background: var(--azure);
   width:  27px;
   height: 27px;
   border-radius: 15px;
   margin-top: 30px;
   pointer-events: none;
}

.btnallergy {
   border: none;
   background: none;
   font: inherit;
   cursor: pointer;
 }


.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

.mySlides {
   display: none;
}

.column_prep {
   float: left;
   width: 33.33%;
   padding: 5px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

.allign_text_box .prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

.img-circle {
   border-radius: 50%;
}
.img-circle2 {
   border-radius: 5%;
}
.img-circle {
   border-radius: 3%;
}
p {
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}
h3 {
   font-family: "Manrope", sans-serif;
   font-size: 16px;
}
span {
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}
input {
   font-family: "Manrope", sans-serif;
}
small {
   font-family: "Manrope", sans-serif;
   font-size: 12px;
}
li {
   font-family: "Manrope", sans-serif;
   font-size: 14px;
}
button {
   font-family: "Manrope", sans-serif;
   font-size: 14px;
}
body::-webkit-scrollbar {
   display: none;
}

.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}

.text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}

.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active,
.dot:hover {
   background-color: #717171;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}

.bg-navbar {
   background-color: black;
}

audio,
canvas,
video {
   display: inline-block;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden],
template {
   display: none;
}

html {
   background: #fff;
   color: #000;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
   font-family: sans-serif;
}

body {
   margin: 0;
}

a {
   background: transparent;
}

a:focus {
   outline: thin dotted;
}

a:hover,
a:active {
   outline: 0;
}

h1 {
   font-size: 2em;
   margin: 0.67em 0;
   line-height: normal;
}

h2 {
   font-size: 1.5em;
   margin: 0.83em 0;
   line-height: normal;
}

h3 {
   font-size: 1.17em;
   margin: 1em 0;
   line-height: normal;
}

h4 {
   font-size: 1em;
   margin: 1.33em 0;
   line-height: normal;
}

h5 {
   font-size: 0.83em;
   margin: 1.67em 0;
   line-height: normal;
}

h6 {
   font-size: 0.75em;
   margin: 2.33em 0;
   line-height: normal;
}

abbr[title] {
   border-bottom: 1px dotted;
}

b,
strong {
   font-weight: bold;
}

dfn {
   font-style: italic;
}

mark {
   background: #ff0;
   color: #000;
}

code,
kbd,
pre,
samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

q {
   quotes: "\201C""\201D""\2018""\2019";
}

q:before,
q:after {
   content: "";
   content: none;
}

small {
   font-size: 80%;
   color: #fac564;
}

sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   top: -0.5em;
}

sub {
   bottom: -0.25em;
}

img {
   border: 0;
}

svg:not(:root) {
   overflow: hidden;
}

figure {
   margin: 0;
}

fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}

legend {
   border: 0;
   padding: 0;
   white-space: normal;
}

button,
input,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   margin: 0;
   vertical-align: baseline;
}

button,
input {
   line-height: normal;
}

button,
select {
   text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer;
}

button[disabled],
input[disabled] {
   cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
}

input[type="search"] {
   -webkit-appearance: textfield;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

textarea {
   overflow: auto;
   vertical-align: top;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   background-color: #141414;
   color: #848484;
   font-family: "Source Sans Pro", "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 24px;
}

#site-content {
   overflow: hidden;
}

.button {
   display: inline-block;
   padding: 10px 30px;
   background-color: #fac564;
   border: none;
   color: black;
   font-weight: bold;
   text-decoration: none;
   outline: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.buttontest {
   display: inline-block;
   padding: 10px 30px;
   margin-top: 15px;
   float: right;
   background-color: #fac564;
   border: none;
   font-weight: bold;
   color: black;
   text-decoration: none;
   outline: none;
   text-align: center;
   line-height: 30px;
   border-radius: 5px;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.button2 {
   display: inline-block;
   padding: 10px 20px;
   float: right;
   margin-right: 15px;
   background-color: #fac564;
   border: none;
   color: black;
   font-weight: bold;
   border-radius: 15px;
   text-decoration: none;
   outline: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.button2cart {
   display: inline-block;
   padding: 10px 20px;
   float: right;
   margin-right: 15px;
   background-color: rgb(136, 41, 41);
   border: none;
   color: rgba(255, 255, 255, 0.952);
   font-weight: bold;
   border-radius: 15px;
   text-decoration: none;
   outline: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.button3 {
   display: inline-block;
   padding: 10px 20px;
   float: right;
   margin-top: 80px;
   margin-right: 15px;
   background-color: #fac564;
   border: none;
   color: black;
   font-weight: bold;
   border-radius: 15px;
   text-decoration: none;
   outline: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.button3cart {
   display: inline-block;
   padding: 10px 20px;
   float: right;
   margin-top: 80px;
   margin-right: 15px;
   background-color: rgb(136, 41, 41);
   border: none;
   color: rgba(255, 255, 255, 0.952);
   font-weight: bold;
   border-radius: 15px;
   text-decoration: none;
   outline: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.img-circle {
   border-radius: 50%;
}
.img-circle2 {
   border-radius: 5%;
}
.img-circle {
   border-radius: 3%;
}
p {
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}
h3 {
   font-family: "Manrope", sans-serif;
   font-size: 16px;
}
span {
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}
input {
   font-family: "Manrope", sans-serif;
}
small {
   font-family: "Manrope", sans-serif;
   font-size: 12px;
}
li {
   font-family: "Manrope", sans-serif;
   font-size: 14px;
}
.section-title {
   font-family: "Manrope", sans-serif;
}
body::-webkit-scrollbar {
   display: none;
}

.button:hover {
   background-color: #8d5d05;
}

.buttontest:hover {
   background-color: #8d5d05;
}

.button2:hover {
   background-color: #8d5d05;
}

.button3:hover {
   background-color: #8d5d05;
}

.button2cart:hover {
   background-color: rgb(100, 31, 31);
}

.button3cart:hover {
   background-color: rgb(100, 31, 31);
}

.button.primary {
   background-color: #fac564;
}

.button.primary:hover {
   background-color: #8d5d05;
}

.button.secondary {
   background-color: #848484;
   color: white;
}

.button.secondary:hover {
   background-color: #9e9e9e;
}

.button.small {
   padding: 5px 10px;
}

.button.cut-corner {
   background: -webkit-linear-gradient(90deg, #fac564, #fac564) top left,
      -webkit-linear-gradient(90deg, #fac564, #fac564) top right,
      -webkit-linear-gradient(135deg, transparent 10px, #fac564 0) bottom right,
      -webkit-linear-gradient(90deg, #fac564, #fac564) bottom left;
   background: linear-gradient(0deg, #fac564, #fac564) top left,
      linear-gradient(0deg, #fac564, #fac564) top right,
      linear-gradient(315deg, transparent 10px, #fac564 0) bottom right,
      linear-gradient(0deg, #fac564, #fac564) bottom left;
   background-size: 55% 55%;
   background-repeat: no-repeat;
}

.button.cut-corner:hover {
   background: -webkit-linear-gradient(90deg, #8d5d05, #8d5d05) top left,
      -webkit-linear-gradient(90deg, #8d5d05, #8d5d05) top right,
      -webkit-linear-gradient(135deg, transparent 10px, #8d5d05 0) bottom right,
      -webkit-linear-gradient(90deg, #8d5d05, #8d5d05) bottom left;
   background: linear-gradient(0deg, #8d5d05, #8d5d05) top left,
      linear-gradient(0deg, #8d5d05, #8d5d05) top right,
      linear-gradient(315deg, transparent 10px, #8d5d05 0) bottom right,
      linear-gradient(0deg, #8d5d05, #8d5d05) bottom left;
   background-size: 55% 55%;
   background-repeat: no-repeat;
}

.button.cut-corner:active {
   background: -webkit-linear-gradient(90deg, #fac564, #fac564) top left,
      -webkit-linear-gradient(90deg, #fac564, #fac564) top right,
      -webkit-linear-gradient(135deg, transparent 10px, #fac564 0) bottom right,
      -webkit-linear-gradient(90deg, #fac564, #fac564) bottom left;
   background: linear-gradient(0deg, #fac564, #fac564) top left,
      linear-gradient(0deg, #fac564, #fac564) top right,
      linear-gradient(315deg, transparent 10px, #fac564 0) bottom right,
      linear-gradient(0deg, #fac564, #fac564) bottom left;
   background-size: 55% 55%;
   background-repeat: no-repeat;
}

#imagelightbox {
   cursor: pointer;
   position: fixed;
   z-index: 10000;
   -ms-touch-action: none;
   touch-action: none;
   box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
}

#imagelightbox-loading,
#imagelightbox-loading div {
   border-radius: 50%;
}

#imagelightbox-loading {
   width: 2.5em;
   height: 2.5em;
   background-color: #444;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   z-index: 10003;
   top: 50%;
   left: 50%;
   padding: 0.625em;
   margin: -1.25em 0 0 -1.25em;
   box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
}

#imagelightbox-loading div {
   width: 1.25em;
   height: 1.25em;
   background-color: #fff;
   -webkit-animation: imagelightbox-loading 0.5s ease infinite;
   animation: imagelightbox-loading 0.5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading {
   from {
      opacity: 0.5;
      -webkit-transform: scale(0.75);
   }
   50% {
      opacity: 1;
      -webkit-transform: scale(1);
   }
   to {
      opacity: 0.5;
      -webkit-transform: scale(0.75);
   }
}

@keyframes imagelightbox-loading {
   from {
      opacity: 0.5;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
   }
   50% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   to {
      opacity: 0.5;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
   }
}

@media (min-width: 992px) {
   .allign_text_box {
      float: left;
   }
   .allign_text_box {
      width: 100%;
   }
}

#imagelightbox-overlay {
   background-color: #fff;
   background-color: rgba(255, 255, 255, 0.9);
   position: fixed;
   z-index: 9998;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.inner-content {
   padding: 80px 0;
}

.content .entry-title {
   margin-top: 0;
   margin-bottom: 30px;
   font-size: 36px;
   font-size: 2.25em;
   color: white;
}

.content .featured-image {
   overflow: hidden;
   margin-bottom: 50px;
}

.content .featured-image img {
   width: 100%;
   max-width: 100%;
}

.content .leading {
   margin-bottom: 50px;
   color: white;
   font-size: 18px;
   font-size: 1.125em;
}

.content p {
   margin: 0 0 40px;
}

.content.fullwidth {
   padding: 80px 0;
}

.event .entry-title {
   margin-top: 0;
   font-size: 16px;
   font-size: 1em;
   font-size: normal;
   font-weight: 400;
}

.event .entry-title a {
   color: white;
   text-decoration: none;
}

.content .entry-title {
   margin-top: 0;
   margin-bottom: 30px;
   font-size: 36px;
   font-size: 2.25em;
   color: white;
}

.content .post .entry-title {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 24px;
   font-size: 1.5em;
   font-size: normal;
   font-weight: 700;
}

.content .post .entry-title a {
   color: white;
   text-decoration: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.content .post .entry-title a:hover {
   color: #fac564;
}

#imagelightbox-close {
   width: 2.5em;
   height: 2.5em;
   text-align: left;
   border: none;
   background-color: #666;
   border-radius: 50%;
   position: fixed;
   z-index: 10002;
   top: 2.5em;
   right: 2.5em;
   -webkit-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

#imagelightbox-close:hover,
#imagelightbox-close:focus {
   background-color: #111;
}

#imagelightbox-close:before,
#imagelightbox-close:after {
   width: 2px;
   background-color: #fff;
   content: "";
   position: absolute;
   top: 20%;
   bottom: 20%;
   left: 50%;
   margin-left: -1px;
}

#imagelightbox-close:before {
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

#imagelightbox-close:after {
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

#imagelightbox-caption {
   text-align: center;
   color: #fff;
   background-color: #666;
   position: fixed;
   z-index: 10001;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.625em;
}

#imagelightbox-nav {
   background-color: #444;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   position: fixed;
   z-index: 10001;
   left: 50%;
   bottom: 3.75em;
   padding: 0.313em;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

#imagelightbox-nav button {
   width: 1em;
   height: 1em;
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 50%;
   display: inline-block;
   margin: 0 0.313em;
}

#imagelightbox-nav button.active {
   background-color: #fff;
}

.imagelightbox-arrow {
   width: 3.75em;
   height: 7.5em;
   background-color: #444;
   background-color: rgba(0, 0, 0, 0.5);
   vertical-align: middle;
   display: none;
   position: fixed;
   z-index: 10001;
   top: 50%;
   margin-top: -3.75em;
   border: none;
}

.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
   background-color: #666;
   background-color: rgba(0, 0, 0, 0.75);
}

.imagelightbox-arrow:active {
   background-color: #111;
}

.imagelightbox-arrow-left {
   left: 2.5em;
}

.imagelightbox-arrow-right {
   right: 2.5em;
}

.imagelightbox-arrow:before {
   width: 0;
   height: 0;
   border: 1em solid transparent;
   content: "";
   display: inline-block;
   margin-bottom: -0.125em;
}

.imagelightbox-arrow-left:before {
   border-left: none;
   border-right-color: #fff;
   margin-left: -0.313em;
}

.imagelightbox-arrow-right:before {
   border-right: none;
   border-left-color: #fff;
   margin-right: -0.313em;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
   -webkit-animation: fade-in 0.25s linear;
   animation: fade-in 0.25s linear;
}

@-webkit-keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@media only screen and (max-width: 41.25em) {
   #container {
      width: 100%;
   }
   #imagelightbox-close {
      top: 1.25em;
      right: 1.25em;
   }
   #imagelightbox-nav {
      bottom: 1.25em;
   }
   .imagelightbox-arrow {
      width: 2.5em;
      height: 3.75em;
      margin-top: -2.75em;
   }
   .imagelightbox-arrow-left {
      left: 1.25em;
   }
   .imagelightbox-arrow-right {
      right: 1.25em;
   }
}

@media only screen and (max-width: 20em) {
   .imagelightbox-arrow-left {
      left: 0;
   }
   .imagelightbox-arrow-right {
      right: 0;
   }
}

.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1;
}

.container:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

.container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1;
}

.container-fluid:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.row {
   margin-left: -15px;
   margin-right: -15px;
   *zoom: 1;
}

.row:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.site-header {
   *zoom: 1;
   background-color: #141414;
   z-index: 99;
}

.site-header:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.header-collapse .site-header {
   position: absolute;
   width: 100%;
}

.site-header .container:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

#branding {
   float: left;
   position: relative;
   margin: 35px 0 20px;
   color: black;
   text-shadow: 0.1px 0.1px #000000;
   text-decoration: none;
}

#branding img {
   display: block;
}

.main-navigation {
   float: right;
}

.main-navigation .toggle-menu {
   background: none;
   color: #848484;
   font-size: 18px;
   font-size: 1.125em;
   border: none;
   outline: none;
   position: relative;
   top: 40px;
   display: none;
}

.main-navigation .toggle-menu:hover,
.main-navigation .toggle-menu:active,
.main-navigation .toggle-menu.active {
   color: #fac564;
}

@media screen and (max-width: 640px) {
   .main-navigation .toggle-menu {
      display: block;
   }
}

.main-navigation .menu {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

@media screen and (min-width: 641px) {
   .main-navigation .menu {
      display: block !important;
   }
}

@media screen and (max-width: 640px) {
   .main-navigation .menu {
      display: none;
   }
}

.main-navigation .menu .menu-item {
   position: relative;
   float: left;
}

.main-navigation .menu .menu-item:after {
   content: " ";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 0;
   opacity: 0;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-bottom: 4px solid #fac564;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.main-navigation .menu .menu-item:last-child a:after {
   display: none;
}

.main-navigation .menu .menu-item:hover:after,
.main-navigation .menu .menu-item.current-menu-item:after {
   opacity: 1;
}

.main-navigation .menu .menu-item:hover a {
   color: #fac564;
}

.main-navigation .menu .menu-item.current-menu-item a {
   color: #fac564;
}

.main-navigation .menu a {
   display: block;
   position: relative;
   padding: 45px 20px;
   color: #b3baba;
   font-size: 15px;
   font-size: 0.9375em;
   font-weight: 600;
   text-decoration: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.mobile-menu {
   clear: both;
   border: 1px solid rgba(255, 255, 255, 0.15);
   display: none;
   margin-bottom: 20px;
}

@media screen and (min-width: 641px) {
   .mobile-menu {
      display: none !important;
   }
}

.mobile-menu .menu {
   list-style: none;
   margin: 0;
   padding: 0;
}

.mobile-menu .menu a {
   padding: 10px;
   color: #848484;
   text-decoration: none;
   display: block;
   background: #191919;
}

.mobile-menu .menu a:hover {
   color: #fac564;
}

.mobile-menu .menu .current-menu-item a {
   color: #fac564;
}

.quote-slider blockquote cite {
   display: block;
   color: #fac564;
   text-decoration: none;
   font-size: 24px;
   font-size: 1.5em;
   font-weight: 100;
   font-style: normal;
}

.quote-slider blockquote cite a {
   color: #fac564;
   text-decoration: none;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.quote-slider blockquote cite a:hover {
   color: #f2f2f2;
}

.site-footer {
   background: #191919;
   padding: 50px 0;
   text-align: center;
}

.site-footer .copy {
   color: #434343;
   font-weight: 300;
   font-size: 14px;
   font-size: 0.875em;
}

.slider {
   position: relative;
}

.slider .slides {
   *zoom: 1;
   margin: 0;
   padding-left: 0;
   list-style: none;
   overflow: hidden;
}

.slider .slides:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.slider .slides li {
   margin-right: -100%;
   width: 100%;
   float: left;
   min-height: 540px;
   background-color: #171717;
   background-size: cover;
}

.slider .slides .container {
   padding: 200px 0;
   text-align: center;
}

.slider .slides .slide-title {
   margin: 0;
   color: #333333;
   font-size: 90px;
   font-size: 5.625em;
   font-weight: 900;
   line-height: 1;
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   opacity: 0;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
}

.slider .slides .slide-subtitle {
   color: #fac564;
   font-size: 48px;
   font-size: 3em;
   font-weight: 300;
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   opacity: 0;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s;
}

.slider .slides .slide-desc {
   font-size: 30px;
   color: #1a1a1a;
   font-size: 1.875em;
   font-weight: 300;
   line-height: normal;
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   opacity: 100;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
   -webkit-transition-delay: 0.9s;
   transition-delay: 0.9s;
}

.slider .slides .flex-active-slide .slide-title,
.slider .slides .flex-active-slide .slide-subtitle,
.slider .slides .flex-active-slide .slide-desc {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
}

.slider .flex-control-nav {
   margin: 0;
   padding: 0;
   list-style: none;
   position: absolute;
   width: 100%;
   bottom: 30px;
   z-index: 99;
   text-align: center;
}

.slider .flex-control-nav li {
   display: inline-block;
   margin: 0 5px;
}

.slider .flex-control-nav li a {
   display: block;
   width: 15px;
   height: 15px;
   background: url(../Images/pagination.png) no-repeat 0 0;
   text-indent: -99999px;
   cursor: pointer;
}

.slider .flex-control-nav li a.flex-active {
   background-position: -15px 0;
}

.quote-slider {
   position: relative;
   margin: 80px 0;
}

.quote-slider .slides {
   *zoom: 1;
   margin: 0;
   padding-left: 0;
   list-style: none;
}

.quote-slider .slides:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.quote-slider blockquote {
   margin: 0;
}

.quote-slider blockquote p {
   font-size: 36px;
   font-size: 2.25em;
   color: white;
   font-weight: 300;
   line-height: normal;
}

.quote-slider .flex-direction-nav {
   *zoom: 1;
   list-style: none;
   padding-left: 0;
}

.quote-slider .flex-direction-nav:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.quote-slider .flex-direction-nav li {
   float: left;
   margin-right: 2px;
}

.quote-slider .flex-direction-nav a {
   display: block;
   width: 33px;
   height: 33px;
   color: white;
   background-color: #353535;
   line-height: 32px;
   text-align: center;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
}

.quote-slider .flex-direction-nav a:hover {
   background-color: #fac564;
}

.section-title {
   color: white;
   font-size: 36px;
   font-size: 2.25em;
   font-weight: 700;
   margin-top: 80px;
}

.section-header {
   *zoom: 1;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   margin-bottom: 70px;
   padding-top: 55px;
}

.section-header3 {
   *zoom: 1;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   margin-bottom: 60px;
   padding-top: 8px;
}

.section-header:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0;
}

.section-header .section-title {
   color: white;
   font-size: 12px;
   font-size: 2.25em;
   font-weight: 700;
   margin-top: 0;
   float: left;
}
.section-header2 .section-title {
   color: #fac564;
}
