<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title>About</title>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Fonts/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='Images/favicon.png')}}">
	</head>
	<body class="header-collapse">
		<div id="site-content">

<!--NAVBAR-->

			<header class="site-header">
				<div class="container">
					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="branding"><img src="{{ url_for('static', filename='Images/logo_small.png') }}" alt="Mario and Luigi'"></a>
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item  current-menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="shoppingcart.html">Cart {{orderpizza}}</a></li>
							<li class="menu-item"><a href="account.html">{{name}}</a></li>
							{%if mariologin == True%}
								<li class="menu-item"><a href="ratings.html">Ratings</a></li>
    						{%endif%}
						</ul>
					</nav>
					<div class="mobile-menu"></div>
				</div>
			</header>

<!--LANDING-PAGE-->

			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="{{ url_for('static', filename='images/slide-2.jpg') }}">
							<div class="container">
								<br><br><br>
								<h3 class="slide-subtitle"></h3>
								<h3><img class="slide-title" src="{{ url_for('static', filename='Images/cover-about-page.png') }}"></h3>
							</div>
						</li>
					</ul>
				</div>
			</div>

<!--INFORMATION-->

			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="allign_text_box">
								<div class="content">
									<br>
									<h2 class="entry-title">Our history</h2>
									<br><br>
									<p>Our love affair with Italian food is long-term. In 1990, two wise man called Mario and Luigi knew pizza in Italy could be better. So they started a business making authentic pizza from Italy and other delicacies. After opening the first-ever „Mario and Luigi's Pizzeria”, they started serving the greatest pizzas Italy deserved.</p>
									<p>Current owners and operators, Mario and Luigi, lead the company following their own ideals, and with the expertise of Fontys' students (group 2-5), they have moved the company forward in developing the vision of pizza to perfection.</p>
									<br>
									<h2 class="entry-title">What do we do?</h2>
									<p>Bringing a dining table to life with great food, great music and great company. Lifting glasses and spirits. Getting smiles on faces and sauce on t-shirts. That's what we're all about.<br></p>
									<p>In our “from-scratch” kitchen, we carefully combine fresh, locally sourced, and organic ingredients into delicious dishes crafted with care and detail. From our house-made mozzarella to our fresh-daily dough and tomato sauces, we prepare each of our meals with the same love and care you would, in your very own home.  This means, it's more than just about great food!</p>
									<p>When you join us for a meal at „Mario and Luigi's Pizzeria”, it feels as if you were getting together with your friends, neighbors, and family. Giving our community a place to eat, drink, and relax is what motivates us to continue creating the best food and environment we possibly can.</p>
									<p>Therefore, our pizzeria considers the pursuit of the perfect pizza, as a tribute to all those who have made pizza what it is today. The menu is steeped in age-old traditions, cooking methods, as well as the best quality ingredients possible. With our unique ambiance, use of finest ingredients, made-from-scratch daily offerings, and best-in-class guest service, we hope that your dining experience with us is truly amazing!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

<!--FOOTER-->

			<footer class="site-footer">
				<div class="container">
					<br><br><br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="{{ url_for('static', filename='Images/logo.png') }}"" alt="Mario and Luigi'"></a><br>
					<p class="copy">&emsp;&emsp;&emsp; © Fontys project</p>
				</div>
			</footer>
		</div>

<!--SCRIPTS-->

		<script src="{{ url_for('static', filename='JS/animations.js') }}"></script>
		<script src="{{ url_for('static', filename='JS/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='JS/app.js') }}"></script>
	</body>
</html>