<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic">
		<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet" type="text/css">
		<title>Cart</title>
		<link rel="stylesheet" href="CSS/cart.css">
		<link rel="icon" href="images/favicon.png">
	</head>
	<body>
		<main class="container">
			<h1 class="heading">
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="branding"><img style="float: left;" src="images/logo_small.png" alt="Mario and Luigi'"></a>
			</h1>

<!--PAYMENT-->

			<div class="item-flex">
				<section class="checkout">
					<div class="cart-item-box">
						<h2 class="section-heading">Order Summery</h2>
						<div class="product-card">
							<div class="card">
								<div class="img-box">
									<img src="images/dessert1.jpg" alt="dessert1" width="100px" class="product-img">
								</div>
								<div class="detail">
									<h4 class="product-name">Chocolate Lava Cake</h4>
									<div class="wrapper">
										<div class="product-qty">
											<button id="#">
												<ion-icon style="color: black;" name="alert-outline"></ion-icon>
											</button>
											<span id="quantity">1 items</span>
										</div>
									</div>
								</div>
								<button class="product-close-btn">
									<ion-icon name="close-outline"></ion-icon>
								</button>
							</div>
						</div>
					</div>
				</section>

<!--CART-->

				<section class="cart">
					<div class="check">
						<div style="padding-bottom: 450px;"class="discount-token2">
							<label for="discount-token2" class="label-notes">Notes</label>
							<div class="wrapper-flex">
								<input type="text" name="discount-token2" id="discount-token2" class="input-notes" placeholder="Additional details about the order">
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>

<!--SCRIPTS-->

		<script src="JS/cart.js"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</body>
</html>