*{
    box-sizing: border-box;
}

.menufood{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 60px 40px;
}

.food-items{
    background-color: #141414;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;

    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>a{
    margin-top: 15px;
    float: right;
    background-color: #fac564;
    border: none;
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}